<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src=" {{ url_for('static', filename='jsfeat-min.js') }}"></script>
    <link rel='stylesheet' href=" {{ url_for('static', filename='css/style.css') }}">
    <script type='text/javascript'>
        var imgData;
        var w = 700, h = 700, r = 10;
        var mouseIsDown = 0;
        var centerPosition = new Array();
        var imgWidth, imgHeight;
        function drawCircle(ctx, x, y, r, color) {
            color = color || "#000000"
            ctx.beginPath();
            ctx.arc(x, y, r, 0, 2*Math.PI);
            ctx.strokeStyle = color;
            ctx.stroke();
        }
        function getCenter(x, y) {
            for(var index in centerPosition) {
                if(x >= (centerPosition[index][0] - r) &&
                        x <= (centerPosition[index][0] + r) &&
                        y >= (centerPosition[index][1] - r) &&
                        y <= (centerPosition[index][1] + r)){
                    return parseInt(index) + 1;
                }
            }
            return 0;
        }
        function canvasInitialize() {
            var canvas = document.getElementById('canvas');
            canvas.style.left = "300px";
            canvas.style.top = '0px';
            canvas.style.position = 'absolute';

            var ctx = canvas.getContext('2d');
            var img = new Image();
            img.onload = function() {
                ctx.drawImage(img, 0, 0);
                imgData = ctx.getImageData(0, 0, w, h);
                drawCircle(ctx, r, r, r);
                centerPosition.push(new Array(r, r));
                drawCircle(ctx, img.width-r, r, r);
                centerPosition.push(new Array(img.width-r, r));
                drawCircle(ctx, img.width-r, img.height-r, r);
                centerPosition.push(new Array(img.width-r, img.height-r));
                drawCircle(ctx, r, img.height-r, r);
                centerPosition.push(new Array(r, img.height-r));
                drawCircle(ctx, img.width / 2, img.height / 2, r, "#FF0000");
                centerPosition.push(new Array(img.width / 2, img.height / 2));

                imgWidth = img.width;
                imgHeight = img.height;
            }
            img.src = "{{ url_for('static', filename='img/wuhan.png') }}";

            canvas.onmousemove = canvasMouseMove;
            canvas.onmousedown = canvasMouseDown;
            canvas.onmouseup = function() {
                mouseIsDown = 0;
            }
        }

        function canvasMouseDown(e) {
            e.preventDefault();
            var canvas = document.getElementById('canvas');
            var x = e.pageX - parseInt(canvas.style.left.replace('px', ''));
            var y = e.pageY - parseInt(canvas.style.top.replace('px', ''));
            mouseIsDown = getCenter(x, y);
            console.log(mouseIsDown);
        }

        function canvasMouseMove(e) {
            var canvas = document.getElementById('canvas');
            if(mouseIsDown === 0)return;
            var lastLeft = parseInt(canvas.style.left.replace('px', ''))
            var lastTop = parseInt(canvas.style.top.replace('px', ''))
            var x = e.pageX - lastLeft;
            var y = e.pageY - lastTop;
            if(mouseIsDown === 5) {
                canvas.style.left = (lastLeft + x - centerPosition[mouseIsDown-1][0]) + 'px';
                canvas.style.top = (lastTop + y - centerPosition[mouseIsDown-1][1]) + 'px';
            } else if(mouseIsDown) {
                updateCanvas(x, y);
            }
            return false;
        }
        function updateCanvas(newX, newY) {
            var canvas = document.getElementById('canvas');

            var ctx = canvas.getContext('2d');
            var img_u8 = new jsfeat.matrix_t(w, h, jsfeat.U8_t | jsfeat.C1_t);
            var img_u8_warp = new jsfeat.matrix_t(w, h, jsfeat.U8_t| jsfeat.C1_t);
            var transform = new jsfeat.matrix_t(3, 3, jsfeat.F32_t | jsfeat.C1_t);

            var alphas = new jsfeat.matrix_t(w, h, jsfeat.U8_t| jsfeat.C1_t);
            var alphas_warp = new jsfeat.matrix_t(w, h, jsfeat.U8_t| jsfeat.C1_t);

            {#            jsfeat.imgproc.grayscale(imgData.data, img_u8.data);#}
            function grayscale(src, dst) {
                var srcLength = src.length|0, srcLength_16 = (srcLength - 16)|0;
                var j = 0;
                var coeff_r = 4899, coeff_g = 9617, coeff_b = 1868;

                for (var i=0; i < srcLength; i += 4, ++j) {
                    dst[j] = (src[i] * coeff_r + src[i+1] * coeff_g + src[i+2] * coeff_b + 8192) >> 14;
                    alphas.data[j] = src[i+3];
                }
            }
            grayscale(imgData.data, img_u8.data);

            centerPosition[mouseIsDown-1][0] = newX;
            centerPosition[mouseIsDown-1][1] = newY;
            jsfeat.math.perspective_4point_transform(transform,
                    0, 0, centerPosition[0][0]-r, centerPosition[0][1]-r,
                    imgWidth, 0, centerPosition[1][0]+r, centerPosition[1][1]-r,
                    imgWidth, imgHeight, centerPosition[2][0]+r, centerPosition[2][1]+r,
                    0, imgHeight, centerPosition[3][0]-r, centerPosition[3][1]+r
            );

            jsfeat.matmath.invert_3x3(transform, transform);

            jsfeat.imgproc.warp_perspective(img_u8, img_u8_warp, transform, 0);
            jsfeat.imgproc.warp_perspective(alphas, alphas_warp, transform, 0);

            var tmpCanvas = document.createElement('canvas');
            var tmpImage = tmpCanvas.getContext('2d').createImageData(w, h);
            tmpImage.data.set(imgData.data);

            var data_u32 = new Uint32Array(tmpImage.data.buffer);
            var tmp = img_u8_warp.cols*img_u8_warp.rows, pix = 0;
            while(--tmp >= 0) {
                pix = img_u8_warp.data[tmp];
                data_u32[tmp] = (alphas_warp.data[tmp]<<24) | (pix << 16) | (pix << 8) | pix;
            }
            ctx.putImageData(tmpImage, 0, 0);
            drawCircle(ctx, centerPosition[0][0], centerPosition[0][1], r, "#0000FF");
            drawCircle(ctx, centerPosition[1][0], centerPosition[1][1], r, "#0000FF");
            drawCircle(ctx, centerPosition[2][0], centerPosition[2][1], r, "#0000FF");
            drawCircle(ctx, centerPosition[3][0], centerPosition[3][1], r, "#0000FF");
            drawCircle(ctx, centerPosition[4][0], centerPosition[4][1], r, "#FF0000");
        }
        {#        window.onload = initialize;#}
    </script>
    <script>
        var myLatlng = new google.maps.LatLng(39.9139, 116.3917);
        function googleMapInitialize() {
            var mapOptions = {
                zoom: 8,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.SATELLITE
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
            canvasInitialize();
        }
        google.maps.event.addDomListener(window, 'load', googleMapInitialize);
    </script>
</head>
<body>
<div class='operateBoard'>
    <h2>操作板</h2>
    <div class='upload-file'>
        <input type='file' name='file'>
        <input type='submit' value='upload'>
    </div>
    <div>
        <h4>变换矩阵</h4>
        <input type='button' value='Save'>
    </div>
</div>
<div id='map-canvas'></div>
<canvas id='canvas' width='700' height='700'></canvas>
</body>
</html>